body {
    background: url(img/Desvendando_ch374_AdobeStock_57168135-1536x1152.jpeg);
}

h1 {
    text-align: center;
    color: rgba(251, 255, 9, 0.877);
    font-size: 40px;
    font-family: century;
    background: rgb(3, 3, 51);
}

.logo {
    text-align: center;
}

.logo img {
    width: 500px;
    padding-top: 20px;
}

.bloco {
    display: flex;
}

.bloco img{
    width: 235px;
    display: flex;
}

.bloco-2 img {
    
}

.bloco-3 img {
    
}
